*{
  margin: 0;
  padding: 0;
}
span{
  color: red;
}
h1,h2,h3,h4,h5,h6{
 font-family: 'Young Serif', serif;;
}
p{
  font-family: 'Satisfy', cursive;
  font-size: x-large;
}
#b1{
  width: 30%;
  border-radius: 30px;
  height: 50%;
  background-color: black;
  color: red;
  border: 1px red solid;
}
#b1:hover{
  background-color: red;
  color: black;
  border: 1px black dotted;
}
b{
  font-family: 'Young Serif', serif;;
}